/* variáveis de cores*/
:root {

    --main-color: #2F2E41;
    --blue-color: #00BFA6;
    --grey-color: #C2C2C2;
    --white-color: #FFF;

}


body {
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
    
    background: var(--main-color);
}