/* variáveis de cores*/
:root {

    --main-color: #2F2E41;
    --blue-color: #00BFA6;
    --grey-color: #C2C2C2;
    --white-color: #FFF;

}


body {
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
    
    background: var(--main-color);
}
.page {

    width: 1280px;
    margin: auto;
    padding-top: 71px;
}

nav {
    display: flex;
    justify-content:  space-between;
    align-items: center;

}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;

    list-style: none;
}

ul a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 14px;
    line-height: 28px;
    opacity: 0.8;

}

ul a:hover {
    font-weight: bold;
    opacity: 1;
    
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 120px;
}

h1 {
    color: var(--white-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;

    text-align: center;

}

h1 span {
    color: var(--blue-color);
}

p {
    font-family: 'Open Sans', sans-serif;
    color: var(--grey-color);
    font-size: 16px;
    line-height: 28px;

    text-align: center;
}

p span {
    color: var(--blue-color);
}

#line {

    
}

footer {
    text-align: center;
    padding-top: 150px;

    color: var(--white-color);
    font-size: 14px;
    line-height: 28px;
}

footer a {

    font-weight: bold;
    color: var(--white-color);
}

#padlock {
    position: fixed;
    left: 20px;
    bottom: 20px;
}